@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto");

@font-face {
    font-family: Ambit;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Ambit-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Ambit, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    border-bottom: 1px solid lightgray;
    padding: 0px 5%;
    box-sizing: border-box;
    background-color: white;
    z-index: 1;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left>a:first-child>img {
    margin-right: 30px;
}

.nav-left>a {
    padding: 18px;
    font-size: 17px;
    text-decoration: none;
    border-top: 5px solid white;
}

.nav-left>a:not(:first-child):hover {
    border-top: 5px solid #FF3C00;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-right>a:first-child {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 1px solid #324FBE;
    border-radius: 4px;
    font-size: 16px;
    color: #324FBE;
    background-color: white;
    font-weight: 500;
    padding: 8px 12px;
    text-decoration: none;
}

.nav-right>a:nth-child(2) {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 1px solid #324FBE;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #324FBE;
    padding: 8px 12px;
    text-decoration: none;
}

.nav-right>a:nth-child(3)>svg {
    width: 42px;
    height: 42px;
    cursor: pointer;
    margin-top: 6px;
}

.nav-right>a:nth-child(3)>svg>path:first-child {
    opacity: 0;
}

.nav-right>a:nth-child(3)>svg>path:first-child:hover {
    opacity: 1;
}

/* Top Section */
/* dummy div for keeping space of fixed navbar */

.dummy-navbar {
    height: 62px;
}

.top {
    display: grid;
    margin: 18px 5%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 170px);
    row-gap: 60px;

}


.top-heading {
    grid-column: 1 / 10;
}

.top-heading h1 {
    font-size: 46px;
    font-weight: 600;
    line-height: 55px;
}

.top-heading h1>b {
    color: #FF3C00;
}

.top-heading h1+div {
    display: flex;
    justify-content: space-between;
    margin-top: -17px;
}

.top-heading-info {
    display: flex;
    gap: 20px;
    font-size: 17px;
    color: gray;
}

.top-heading-info>img {
    width: 25px;
}

.top-video {
    grid-column: 1/8;
    grid-row: 2/4;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://www.hotjar.com/_next/image/?url=https%3A%2F%2Fimages.ctfassets.net%2Flh3zuq09vnm2%2F141UN8bPx8Wl8iRgD4RxTm%2F31d164cdb2dcb0ba306009265b027913%2FVideo_cover_no-player.png&w=1920&q=75");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-video>button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.top-right-content {
    grid-column: span 4/13;
    grid-row: 2/4;
    align-self: center;
}

.top-right-content h2 {
    font-size: 23px;
    font-weight: 500;
}

.top-right-content h2+p {
    margin-bottom: 60px;
    font-size: 17px;
    color: gray;
}

.top-right-content>p+a {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 1px solid #324FBE;
    border-radius: 4px;
    font-size: 16px;
    color: #324FBE;
    background-color: white;
    font-weight: 500;
    padding: 8px 12px;
    text-decoration: none;
    width: 220px;
    margin-bottom: 10px;
    display: block;
}

#google-logo {
    display: inline-block;
    padding: 8px 12px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
}

.top-right-content>a+a {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 280px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 2px solid #2A58C1;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #2A58C1;
    text-decoration: none;
}

.top-right-content>a+a+p {
    margin-top: 25px;
    font-size: 15px;
    color: gray;
}



/* Brand Section */

.brand {
    padding: 50px 0px;
    margin: 40px 5%;
}

.brand>h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.brand>div {
    display: flex;
    overflow: hidden;
}

.brand .sildes {
    display: flex;
    justify-content: center;
    animation: 20s linear 0s infinite normal none running slideAnimation;
}

.brand .sildes>img {
    height: 32px;
    margin: 25px 30px;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-100%));
        transform: translateX(calc(-100%));
    }

}

.slides-bottom {
    display: flex;
    justify-content: space-evenly;
}

.slides-bottom>div {
    display: flex;
}

.slides-bottom>div>img {
    width: 24px;
    margin-right: 20px;
}

.slides-bottom>div>img+p {
    font-size: 17px;
    color: gray;
}




/* How It works Section */

.how-it-works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 30px;
    margin: 0px 5%;
}

.heading {
    text-align: center;
    grid-column: 1/5;
}

.heading>h2 {
    font-size: 30px;
    font-weight: 500;
}

.heading>p {
    font-size: 17px;
    color: gray;
    margin-top: -15px;
}

.how-it-works .heading+div {
    border-bottom: 1px solid darkgray;
    grid-column: 1/3;
}


.how-it-works .heading+div+div {
    border-bottom: 1px solid darkgray;
    grid-column: 3/5;
}

.how-it-works .observe {
    background-color: #F9F5CA;
    padding: 10px;
    font-size: 18px;
    gap: 10px;
    align-items: center;
    display: flex;
    width: 150px;
    margin-bottom: 20px;
}


.how-it-works .ask {
    background-color: #CCC2EB;
    padding: 10px;
    font-size: 18px;
    gap: 10px;
    align-items: center;
    display: flex;
    width: 150px;
}


.how-it-works .heading+div+div~div {
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 4px;
}

.how-it-works .heading+div+div~div>img {
    width: 100%;
}

.how-it-works .heading+div+div~div>h3 {
    font-size: 23px;
    font-weight: 500;
}

.how-it-works .heading+div+div~div>p:not(:last-child) {
    font-size: 15px;
    color: gray;
    margin-bottom: 90px;
}

.how-it-works .heading+div+div~div>p:last-child {
    font-size: 15px;
}


/* Privacy Section */
.privacy {
    display: flex;
    gap: 100px;
    margin: 110px 5%;
    justify-content: space-between;
}

.privacy-left>h2 {
    font-size: 30px;
    font-weight: 500;
}

.privacy .privacy-left {
    width: 45%;
}

.privacy .privacy-right {
    width: 50%;
}

.privacy>.privacy-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.privacy>.privacy-right>div>img {
    width: 25px;
}

.privacy>.privacy-right>div>h3 {
    font-size: 19px;
    font-weight: 500;
}

.privacy>.privacy-right>div>p {
    font-size: 16px;
}

/* Get Started Section A */
.get-started-A {
    display: flex;
    margin: 0 5%;
    justify-content: space-around;
    background: rgb(231, 237, 248);
    background: linear-gradient(90deg, rgba(231, 237, 248, 1) 0%, rgba(182, 186, 230, 1) 35%, rgba(186, 204, 235, 1) 100%);
    align-items: center;
    padding: 5px;
}

.get-started-A .left>h2 {
    font-size: 35px;
    font-weight: bold;
}

.get-started-A .left>p {
    margin-top: -15px;
    margin-bottom: 45px;
    font-size: 17px;
    color: gray;
}

.get-started-A .left>p+a {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 1px solid #324FBE;
    border-radius: 4px;
    font-size: 16px;
    color: #324FBE;
    background-color: transparent;
    font-weight: 500;
    padding: 12px 18px;
    text-decoration: none;
    width: 220px;
    margin-right: 10px;
}

.get-started-A .left>p+a+a {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 1px solid #324FBE;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: #324FBE;
    font-weight: 500;
    padding: 12px 18px;
    text-decoration: none;
    width: 220px;
    display: inline-block;
    margin-bottom: 30px;
}

.get-started-A .right>div {
    display: flex;
    gap: 17px;
    margin-bottom: 15px;
}

.get-started-A .right p {
    font-size: 17px;
    color: gray;
}

.get-started-A .right img {
    width: 25px;
}

.get-started-A .left,
.get-started-A .right {
    width: 35%;
}

.get-started-B {
    background: rgb(255, 226, 114) !important;
    background: linear-gradient(90deg, rgba(252, 250, 230, 1) 0%, rgba(254, 231, 141, 1) 35%, rgba(255, 226, 114, 1) 100%) !important;
}

.get-started-B .right>img {
    width: 90%;
    padding: 35px 0px;
}


/* Manager Section */

.manager {
    display: flex;
    margin: 90px 5%;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.manager .left {
    width: 45%;
}

.manager .right {
    width: 60%;
}

.manager .right {
    position: relative;
}

.manager .left>h2 {
    font-size: 30px;
    font-weight: 500;
}

.manager .left>p {
    font-size: 17px;
    color: gray;
    margin-bottom: 50px;
}

.manager .left>a {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 1px solid #324FBE;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: #324FBE;
    font-weight: 500;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
}

.manager .right>p {
    position: absolute;
    background-color: #FFECE6;
    padding: 16px;
}

.manager .right>p:first-child {
    top: -15px;
    right: 0;
    font-size: 17px;
    font-weight: bold;
    width: 40%;
}

.manager .right>p:last-child {
    bottom: 0;
    left: 0;
    font-size: 17px;
    font-weight: bold;
}

.manager .right>img {
    width: 100%;
}

/* Integration */

.integration {
    padding: 50px 0px;
    margin: -50px 5%;
}

.integration>h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.integration>p {
    text-align: center;
    font-size: 17px;
    color: gray;
}

.integration>div {
    display: flex;
    overflow: hidden;
}

.integration .sildes {
    display: flex;
    justify-content: center;
    animation: 35s linear 0s infinite normal none running slideAnimation;
}

.integration .sildes>img {
    margin: 25px 30px 30px;
}

.integration .slides-bottom>a {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 1px solid #324FBE;
    border-radius: 4px;
    font-size: 16px;
    color: #324FBE;
    background-color: transparent;
    font-weight: 500;
    padding: 8px 12px;
    text-decoration: none;
    width: 220px;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 10px;
}

/* Review slide show */
.review-slide-show {
    margin: 100px 5%;
    position: relative;
    height: 458px;
}

.slide-controls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.slide-controls .slide-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.slide-controls>.active-dot {
    background-color: black !important;
}

.slide-controls>.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #E9E9EC;
}


.slide-controls .slide-btn:hover {
    background-color: #f6f6f7;
}


#arrow-right {
    transform: rotate(-180deg);
    margin-left: 10px;
}

.review-slide-show>.slides {
    display: flex;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.review-slide-show .left {
    width: 30%;
}

.review-slide-show .right {
    width: 30%;
}

.review-slide-show .left>h2 {
    font-size: 35px;
    font-weight: 500;
}

.review-slide-show .left>p:first-child {
    font-size: 15px;
    color: gray;
    margin-bottom: -15px;
}

.review-slide-show .left>p {
    font-size: 17px;
    color: gray;
    margin-bottom: 50px;
}

.review-slide-show .left>a {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 1px solid #324FBE;
    border-radius: 4px;
    font-size: 16px;
    color: #324FBE;
    background-color: white;
    font-weight: 500;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
}

.review-slide-show .right>img {
    width: 100%;
    height: 100%;
    display: block;
}

.review-slide-show .review {
    position: absolute;
    background-color: #FFECE6;
    width: 43%;
    padding: 20px;
    bottom: 0;
    right: 0;
}

.review-slide-show .review>img+p {
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
    line-height: 23px;
}

.review-slide-show .review>h3 {
    font-size: 15px;
}

.review-slide-show .review>h3+p {
    font-size: 15px;
    font-weight: 500;
    margin-top: -10px;
}

/* Guide Section */
.guide {
    margin: -50px 5% 110px;
}

.guide p {
    font-size: 15px;
    color: gray;
    margin-bottom: 35px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.guide>div {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.guide-cards {
    width: 31%;
}

.guide-cards>img {
    width: 100%;
}

.guide-cards>h2>a {
    color: black;
    text-decoration: none;
    font-size: 19px;
}

.guide>div+a {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border: 1px solid #324FBE;
    border-radius: 4px;
    font-size: 16px;
    color: #324FBE;
    background-color: white;
    font-weight: 500;
    padding: 12px 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

/* Footer Section */

.footer {
    background-color: #202641;
}

.footer>.footer-top {
    margin: 100px 5% 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 50px;
    padding-bottom: 70px;
    border-bottom: 1px solid #a4a6a0;
}


.footer>div>div>h2 {
    font-size: 18px;
    font-weight: 500;
    color: #E3E3E7;
}

.footer>div>div>p {
    color: #a4a6a0;
    font-weight: 500;
    line-height: 30px;
    font-size: 15px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0px 5%;
    padding: 100px 0px 45px;
    position: relative;
}

.footer-links {
    position: absolute;
    top: 0;
    right: 0;
}

.footer-links>.fa-brands {
    margin-top: 30px;
    margin-left: 20px;
    color: white;
    font-size: 18px;
}

.footer-bottom>div:last-child {
    display: flex;
    gap: 20px;
}


/* Feedback Popup */

.feedback {
    width: 40px;
    height: 135px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #D23201;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: all .5s;
}

.feedback:hover {
    width: 45px;
    box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px, rgba(17, 17, 26, 0.2) 0px 16px 56px, rgba(17, 17, 26, 0.2) 0px 24px 80px;
}

.feedback p {
    transform: rotate(-90deg);
    font-size: 15px;
}

.feedback img {
    margin-top: 20px;
    width: 22px;
}


.feeback-popup {
    width: 350px;
    position: fixed;
    right: -370px;
    top: 50%;
    background-color: white;
    transform: translateY(-50%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition: all .5s;
    padding: 25px;
    text-align: center;
}

.feeback-popup>.fa-close {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: #4d5167;
    float: right;
    margin-top: -36px;
    margin-right: 10px;
}

.feeback-popup>div {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    overflow: hidden;
}

#feedback-icon {
    cursor: pointer;
    width: 40px;
}

#feedback-text {
    visibility: hidden;
    color: lightgray;
    margin-top: 30px;
    transition: all .2s;
}

#feedback-icon:hover+#feedback-text {
    visibility: visible;
    color: gray;
    margin-top: 10px;
}


.feeback-popup>div+div {
    display: flex;
    align-items: center;
}

.feeback-popup>div+div>p {
    text-align: left;
    font-size: 13px;
}

.feeback-popup>div+div>p>img {
    width: 12px;
    margin-right: 7px;
    float: left;
}