@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto");

@font-face {
    font-family: Ambit;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Ambit-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Ambit, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Navbar Section */
.navbar {
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: center;
}

.navbar>a>img {
    margin-top: 5px;
}


/* Top Section */
.top {
    margin: 50px 0px;
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



.top>div {
    width: 27%;
}

.top>div>h1 {
    font-size: 24px;
    margin-top: -8px;
    font-weight: 500;
    font-family: Ambit, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn-filled-icon {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0;
    width: 100%;
    border: 1px solid #4285F4;
    background-color: #4285F4;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    line-height: 46px;
    margin-bottom: 10px;
    margin-top: 18px;
    cursor: pointer;
}

.btn-filled-icon>img {
    display: block;
    padding: 7px;
    background-color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    float: left;

}

#google-btn+div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0px 0px;
}

#google-btn+div>div {
    width: 45%;
    border-bottom: 1px solid #808080;
}


#email-btn {
    background-color: #324fbe;
    border: 1px solid #324fbe;
}


#google-btn+div>p {
    color: gray;
    font-size: 13px;
}

/* Login form */
form>label {
    font-weight: bold;
    display: inline-block;
    margin-top: 24px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 16px 12px;
    margin-top: 10px;
    border: 1px solid #C1C2CA;
    border-radius: 4px;
    font-size: 16px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

input[type="password"]+div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: gray;
}

input[type="password"]+div .fa-check {
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid gray;
    padding: 2px;
    border-radius: 50%;
}

#accept-privacy {
    margin-top: 60px;
}

#accept-privacy+span {
    font-size: 14px;
    margin-left: 10px;
}

#accept-privacy+span>a {
    color: black;
}

#sign-in-btn {
    background-color: #324fbe;
}

.top>div>p {
    color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}

/* Feedback Popup */

.feedback {
    width: 40px;
    height: 135px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #D23201;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: all .5s;
}

.feedback:hover {
    width: 45px;
    box-shadow: rgba(17, 17, 26, 0.2) 0px 8px 24px, rgba(17, 17, 26, 0.2) 0px 16px 56px, rgba(17, 17, 26, 0.2) 0px 24px 80px;
}

.feedback p {
    transform: rotate(-90deg);
    font-size: 15px;
}

.feedback img {
    margin-top: 20px;
    width: 22px;
}


.feeback-popup {
    width: 350px;
    position: fixed;
    right: -370px;
    top: 50%;
    background-color: white;
    transform: translateY(-50%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    transition: all .5s;
    padding: 25px;
    text-align: center;
}

.feeback-popup>.fa-close {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: #4d5167;
    float: right;
    margin-top: -36px;
    margin-right: 10px;
}

.feeback-popup>div {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    overflow: hidden;
}

#feedback-icon {
    cursor: pointer;
    width: 40px;
}

#feedback-text {
    visibility: hidden;
    color: lightgray;
    margin-top: 30px;
    transition: all .2s;
}

#feedback-icon:hover+#feedback-text {
    visibility: visible;
    color: gray;
    margin-top: 10px;
}


.feeback-popup>div+div {
    display: flex;
    align-items: center;
}

.feeback-popup>div+div>p {
    text-align: left;
    font-size: 13px;
}

.feeback-popup>div+div>p>img {
    width: 12px;
    margin-right: 7px;
    float: left;
}